<%- include('../../partials/header') %>
  <!-- Content Wrapper. Contains page content -->

  <div class="content-wrapper">
 
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1> Employees Data</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Employees</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">

            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title"> Employees Information</h3>
                  </div>
               
                  <div class="alert alert-alert" role="alert" id="error"> </div>
                  <!-- form start -->
                  <form method="post" action="/employees/create">

                    <div class="card-body row">
                      <div class="form-group col-md-3">

                        <label for="name">User Name</label>
                        <input type="text" class="form-control" id="en" placeholder="Enter Name" name="user_name"
                          value="" required>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="name">Father Name</label>
                        <input type="text" class="form-control" id="age" placeholder="Enter Father name"
                          name="fathers_name" value="" required>
                      </div>

                      <div class="form-group col-md-3">
                        <label for="gender">Gender</label> <br>
                        <!-- <input type="text" class="form-control" id="mn" placeholder="Gender" name="gender"> -->

                        <input type="radio" id="bn" name="gender" value="" required>
                          <label for="gender">Male</label>
                        <input type="radio" id="bn" name="gender" value="">
                          <label for="gender">Female</label><br>
                      </div>


                      <div class="form-group col-md-3">
                        <label>Mobile Number</label>

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                          </div>
                          <input type="text" name="mobile" class="form-control" placeholder="Enter Mobile Number"
                            data-inputmask='"mask": "(+91) 99999-99999"' data-mask required>
                        </div>
                        <!-- /.input group -->
                      </div>
                      <div class="form-group col-md-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="ca" placeholder="Enter Your Email" name="email"
                          required>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="address">Address </label>
                        <input type="text" class="form-control" id="ta" placeholder="Enter Your Address" name="address"
                          required>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Date">Date of joining</label>
                        <input type="date" class="form-control" id="dpt" placeholder="Date of joining"
                          name="date_of_joining" required>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="date">Date of birth</label>
                        <input type="date" class="form-control" id="reference" placeholder="date of Birth"
                          name="date_of_birth" required>
                      </div>

                      <div class="form-group col-md-3">
                        <label for="Blood Group">Blood Group

                        </label>


                        <select name="blood_group" class="custom-select form-control-border border-width-2"
                          id="exampleSelectBorderWidth2" required>
                          <option>Blood Group</option>
                          <option>O-</option>
                          <option>O+</option>
                          <option>A+</option>
                          <option>A-</option>
                          <option>B-</option>
                          <option>B+</option>
                          <option>AB+</option>
                          <option>AB-</option>
                        </select>

                      </div>


                      <div class="form-group col-md-3">

                        <label for="Weight">Weight
                        </label>
                        <input type="number" class="form-control" id="r&r" placeholder="Weight in kg" name="weight" required>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Height">Height
                        </label>
                        <input type="number" min="0" max="10" step=".01" class="form-control" id="pf"
                          placeholder="Height in cm's" name="height" required>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Subscriptions" name="type_of_subscription">Types Of Subscriptions</label>
                        <select name="type_of_subscription" class="custom-select form-control-border border-width-2"
                          id="exampleSelectBorderWidth2" required>
                          <option disabled>Select Subscriptions</option>
                          <% for(var i=0; i <data.length ; i++ ) { %>

                            <option <% if(data[i].id==data.type_of_subscription){ %>
                              selected="selected"
                              <% } %>
                                value="<%=data[i].id%>"><%=data[i].name %>
                            </option>

                            <% } %>

                        </select>
                      </div>


                      <div class="form-group col-md-3">
                        <label for="Marital Status">Marital Status
                        </label> <br>

                        <input type="radio" id="bn" name="marital_status" value="" required>
                          <label for="marital_status">Married</label>
                        <input type="radio" id="bn" name="marital_status" value="">
                          <label for="marital_status">Single</label><br>
                      </div>

                      <div class="form-group col-md-3">
                        <label>Emergency contact Number</label>

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                          </div>
                          <input type="text" name="emergency_contact" class="form-control"
                            placeholder="Emergency Contact Number" data-inputmask='"mask": "(+91) 99999-99999"'
                            data-mask required>
                        </div>
                        <!-- /.input group -->
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Referance Name">Referance Name
                        </label>
                        <input type="text" class="form-control" id="an" placeholder="Referance Name"
                          name="reference_name" required>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Reference Mobile Number</label>

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                          </div>
                          <input type="text" name="reference_mobile_number" class="form-control"
                            placeholder="Enter Reference Mobile Number" data-inputmask='"mask": "(+91) 99999-99999"'
                            data-mask required>
                        </div>
                        <!-- /.input group -->
                      </div>

                      <!-- <div class="form-group col-md-3">
                                    <label for=" user TYPE
                                            ">User type
                                    </label>
                                    <input type="text" class="form-control" id="vt" placeholder="User type
                                            " name="user_type">
                                </div> -->


                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include('../../partials/footer') %>
    <!-- <div class="form-group col-md-3">
    <label for="Type of Subscriptions">Type of Subscriptions
    </label>
    <input type="text" class="form-control" id="en" placeholder="Type of Subscriptions"
        name="type_of_subscription">
</div> -->