<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Gym Software</title>
</head>

<body>
  <section>
    <header>
      
      <a href="#" class="logo">
        <!-- <img style="  float: left;
        width: 150px;
        height: 50px;
        background: #555;" src="../img/EXERGY-black-vertical.png" alt="logo" -->
         Fitness </a>

   
      <!-- <div class="toogleMenu" onclick="toggleMenu()"></div> -->
      <div class="toogleMenu" onclick="toggleMenu()"></div>
      <ul class="navigation">
        <!-- <li><a href="#"><img style="position: relative;
          width: 30px;
          height: 18px;" src="../img/menu.png" alt="menu"></a></li> -->
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
       
      </ul>
    </header>
    <div class="content">
    <div class="contentBx">
      <h2>Build Perfect Body With Clean Mind</h2>
      <p>
        ‘All progress takes place outside the comfort zone.’
      </p>
      <!-- <a href="#">Get Started</a> -->
    </div>
    </div>
    <ul class="sci">
      <!-- <li><a href="#"><img  src="../img/icons8-facebook-48.png" alt="facebook">Facebook</a></li>
      <li><a href="#"><img src="../img/icons8-instagram-48.png" alt="Instagram">Instagram</a></li>
      <li><a href="#"><img src="../img/icons8-twitter-48.png" alt="Twitter">Twitter</a> </li> -->
    </ul>
  </section>
  <script type="text/javascript">
    function toogleMenu(){
      const toogleMenu  = document.querySelector('.toggleMenu')
      const navigation = document.querySelector('.navigation')
      toogleMenu.classList.toggle('active')
      navigation.classList.toggle('active')
    }
  </script>
</body>
</html>