
<%- include('../../partials/header') %>
<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Subscriptions Table </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Subscription</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"> Subscriptions Information</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post" action="/subscriptions/create">

                            <div class="card-body row">
                                <!-- <div class="form-group col-md-3"> -->

                                    <!-- <label for="id"> ID</label> -->
                             
                                <!-- </div> -->
                                <input type="hidden" class="form-control" id="en" placeholder="ID">
                                <div class="form-group col-md-3">
                                    <label for="name">Subscription Plan</label>
                                    <input type="text" class="form-control" id="age" placeholder="Enter Name" name="name" value="" required>
                                </div>
                               
                                <div class="form-group col-md-3">
                                    <label for="Duration">Duration in month</label>
                                    <input type="text" class="form-control" id="mn" placeholder="Duration" name="duration" value="" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Price">Price in Indian Rs. </label>
                                    <input type="text" class="form-control" id="ca"
                                        placeholder="Enter Price" name="price" value="" required>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="submit" class="btn btn-primary">Back</button>
                
                                <a href="./index.ejs"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<%- include('../../partials/footer') %>
